h1 {
    color:rgb(16, 80, 255);
}
h3 {
    color:rgb(16, 80, 255);
}
body {
    background-image: url('https://cdn.wallpapersafari.com/43/80/hx4LX5.jpg');
}

#selector {
    padding-top: 2em;
    padding-bottom: 5em;
}